{% extends 'base.html.twig' %}

{% block title %}Hello GalleryController!{% endblock %}

{% block body %}

<div class="title">
    <h1>Gallery</h1>
</div>

    <div class="container">
{% for article in articles %}
    <div class="card">
        <div class="card-header">
            <img src="{{ article.slug }}" alt="rover" />
        </div>
        <div class="card-body">
            <h2>{{ article.title }}</h2>
            <span class="tag tag-teal">{{ article.category }}</span>
            <p>
                {{ article.contenu }}
            </p>
            <div class="user">
                <img src="https://yt3.ggpht.com/a/AGF-l7-0J1G0Ue0mcZMw-99kMeVuBmRxiPjyvIYONg=s900-c-k-c0xffffffff-no-rj-mo" alt="user" />
                <div class="user-info">
                    <h5>July Dec</h5>
                    <small>2h ago</small>
                </div>
            </div>
        </div>
    </div>

{% endfor %}

    </div>

{% endblock %}
